.story {
    width: 90%;
    position: relative;
    font-size: 1.2rem;
    transform: skewX(-12deg) translateX(-50%);
    left: 50%;
    padding: 5rem 7rem;
    display: block;
    backface-visibility: hidden;
    @include respond(tab-port) {
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond(phone) {
        width: 100%;
        padding: 1em;
        transform: skewX(0) translateX(-50%);
    }
    &-contain {
        width: 80%;
        margin: 0;
        height: auto;
        display: inline-block;
        position: relative;
        background-color: rgba(255, 255, 255, .7);
        box-shadow: 0 3rem 6rem rgba(13, 13, 13, .1);
        border-radius: 3px;
        padding: 6rem 6rem 6rem 9rem;
        box-sizing: inherit;
        backface-visibility: hidden;
        text-align: left;
        @include respond(tab-port) {
            padding: 4rem;
            padding-left: 7rem;
        }
        @include respond(phone) {
            padding: 4rem;
        }
    }
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        background-size: cover;
        transform: skewX(12deg) translate(-3rem);
        position: relative;
        //margin-top: -2rem;
        backface-visibility: inherit;
        overflow: hidden;
        border-radius: 50%;
        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) or (-moz-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            -moz-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            -moz-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
        @include respond(phone) {
            width: 10rem;
            height: 10rem;
            transform: translateX(-3rem) skewX(0);
        }
    }
    &__img {
        width: 100%;
        background-size: 100%;
        transform: scale(1.4);
        position: relative;
        backface-visibility: hidden;
        transition: all .5s;
        @include respond(phone) {
            transform: scale(1);
        }
    }
    &__text {
        position: relative;
        transform: skewX(12deg);
        backface-visibility: hidden;
        @include respond(phone) {
            transform: skewX(0);
        }
    }
    &__caption {
        transform: translate(-50%, 20%);
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7rem;
        transition: all .5s;
        backface-visibility: hidden;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: scale(1);
    }
}