//colors

$colorlightpink : #ffa8d3;
$colormediumpink : #fb5ea3;
$colordarkpink : #f9458e;

$colorlightyellow: #f5cb57;
$colordarkyellow: #f89d18;

$colorlightbrown: #af692d;
$colordarkbrown: #492b20;

$colorlightblue: #414766;
$colordarkblue: #191b27;

$colorlightother: #cec3cb;
$colordarkother: #190c13;
 







$colorlightgrey : #f7f7f7;

$colordarkgrey : #777;
$colordarkgrey2: #999;
$colordarkgrey3: #333;
$colorwhite: #fff;
$colorblack: #000;



//$fullscreen : (100vw/100px);    
