/*
0 - 600px - phone
600 -900px - tablet portrait
900 - 1200px - tablet landscape
1200 - 1800 - normal dextop
1800 - ... -big screens


@mixin respond-phone{
    @media (max-width: 600px) {@content};
}



$breakpoint args
-phone
-tab-port
-tab-land
-big-desktop

order: base + typo > 

*/
/* line 2, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
.grid {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}

@media (max-width: 56.25em) {
  /* line 2, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
  .grid {
    justify-content: center;
    flex-flow: column wrap !important;
  }
}

/* line 18, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
.grid .grid-text {
  flex-basis: 40%;
  height: auto;
  position: relative;
  height: auto;
}

/* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
.grid .grid-text a {
  margin-bottom: 5%;
}

@media (max-width: 56.25em) {
  /* line 18, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
  .grid .grid-text {
    flex-basis: 100% !important;
    padding: 1rem 4rem;
  }
}

/* line 36, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
.grid .grid-img {
  margin-right: 5%;
  position: relative;
  height: auto;
  flex-basis: 40%;
}

@media (max-width: 56.25em) {
  /* line 36, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_grid.scss */
  .grid .grid-img {
    flex-basis: 100% !important;
    justify-self: center;
    padding: 2rem 4rem 2rem 6rem;
    margin-right: 0 !important;
  }
}

/* line 2, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

/* line 10, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.heading .heading-pri--main {
  display: block;
  letter-spacing: 1.75rem;
  font-weight: 700;
  font-size: 6rem;
  animation: moveInRight 1.5s;
  animation-timing-function: ease-out;
}

@media (max-width: 37.5em) {
  /* line 10, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
  .heading .heading-pri--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}

/* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.heading .heading-pri--sub {
  display: block;
  backface-visibility: hidden;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  letter-spacing: .77rem;
  animation: moveInLeft 1.5s;
  animation-timing-function: ease-out;
}

@media (max-width: 37.5em) {
  /* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
  .heading .heading-pri--sub {
    letter-spacing: .5rem;
  }
}

/* line 44, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.heading-sec {
  font-size: 3.5rem;
  font-weight: 650;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffa8d3, #f9458e);
  display: inline-block;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  /* line 44, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
  .heading-sec {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  /* line 44, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
  .heading-sec {
    font-size: 2.5rem;
  }
}

/* line 66, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.heading-sec:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(5, 5, 5, 0.3);
}

/* line 73, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.heading-ter {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-bottom: 1rem;
}

/* line 80, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.paragraph {
  font-size: 1.3rem;
}

/* line 83, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_typo.scss */
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-center-text {
  text-align: center !important;
}

/* line 3, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-margin-bottom-small {
  margin-bottom: 1.5rem  !important;
}

/* line 5, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem  !important;
}

/* line 7, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem  !important;
}

@media (max-width: 56.25em) {
  /* line 7, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
  .u-margin-bottom-big {
    margin-bottom: 3rem !important;
  }
}

/* line 14, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-margin-top-big {
  margin-top: 8rem  !important;
}

/* line 16, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-margin-top-huge {
  margin-top: 10rem  !important;
}

@media (max-width: 56.25em) {
  /* line 16, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
  .u-margin-top-huge {
    margin-top: 5rem !important;
  }
}

/* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-margin-bottom-huge {
  margin-bottom: 10rem  !important;
}

/* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
.u-contain {
  max-width: 98rem;
  background-size: cover;
  background-color: transparent;
  margin: 0 auto;
  backface-visibility: hidden;
}

@media (max-width: 75em) {
  /* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
  .u-contain {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 56.25em) {
  /* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_util.scss */
  .u-contain {
    width: 80%;
    max-width: 80%;
  }
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all .2s;
  backface-visibility: hidden;
  position: relative;
  border: none;
  cursor: pointer;
}

/* line 19, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn:focus,
.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 31, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn--white {
  background-color: #fff;
  color: #777;
}

/* line 36, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn--pink {
  background-color: #fb5ea3;
  color: #fff;
}

/* line 41, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  transition: all .4s;
  backface-visibility: hidden;
}

/* line 55, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn--white::after {
  background-color: #fff;
}

/* line 58, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn--pink::after {
  background-color: #fb5ea3;
}

/* line 62, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}

/* line 66, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn--animated {
  animation: moveInUp .5s ease-out .75s backwards;
}

/* line 72, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn-text:link, .btn-text:visited {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #fb5ea3;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
  padding: 1rem;
  border-bottom: 0.1rem solid #fb5ea3;
}

/* line 83, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn-text:hover {
  background-color: #fb5ea3;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem);
}

/* line 89, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_buttons.scss */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0rem);
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card {
  flex-basis: 30%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

/* line 10, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side {
  height: 50rem;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  backface-visibility: hidden;
}

/* line 21, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--front {
  z-index: 15;
}

/* line 23, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--front-1 {
  background-image: url(../Pictures/gc-1x.jpg);
  background-size: cover;
}

@media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
  /* line 23, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--front-1 {
    background-image: url(../Pictures/gc.jpeg);
  }
}

/* line 37, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--front-2 {
  background-image: url(../Pictures/bcas-1x.jpg);
  background-size: cover;
}

@media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
  /* line 37, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--front-2 {
    background-image: url(../Pictures/bcas.jpeg);
  }
}

/* line 53, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--front-3 {
  background-image: url(../Pictures/gcas-1x.jpg);
  background-size: cover;
}

@media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
  /* line 53, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--front-3 {
    background-image: url(../Pictures/gcas.jpeg);
  }
}

/* line 71, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--back {
  transform: rotateY(-180deg);
}

/* line 74, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #af692d, #492b20);
}

/* line 78, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #cec3cb, #190c13);
}

/* line 82, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #414766, #191b27);
}

/* line 88, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}

/* line 101, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__heading-span {
  padding: 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* line 106, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(175, 105, 45, 0.85), rgba(73, 43, 32, 0.85));
}

/* line 110, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(206, 195, 203, 0.85), rgba(25, 12, 19, 0.85));
}

/* line 114, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(65, 71, 102, 0.85), rgba(25, 27, 39, 0.85));
}

/* line 119, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card:hover .card__side--front {
  transform: rotateY(180deg);
}

/* line 122, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card:hover .card__side--back {
  transform: rotateY(0deg);
}

/* line 126, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);
}

/* line 136, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__price-box {
  text-transform: uppercase;
  margin-bottom: 8rem;
  text-align: center;
  color: #fff;
}

/* line 143, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__price-value {
  font-weight: 100;
  font-size: 6rem;
}

/* line 148, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
.card__price-only {
  font-size: 1.4rem;
}

@media (max-width: 56.25em) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card {
    height: auto;
    max-width: 60rem;
    flex-basis: 100%;
    flex-flow: column;
    justify-self: center;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  }
  /* line 165, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card:not(:last-child) {
    margin-bottom: 10%;
  }
  /* line 170, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side {
    height: 50rem;
    position: relative;
    border-radius: .3rem;
  }
  /* line 175, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--back {
    transform: rotateY(0);
    min-height: 30rem;
    height: auto;
    padding: 4rem 4rem 1rem 4rem;
    margin-top: -15%;
    z-index: 1000;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  /* line 184, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--back-1 {
    background-image: linear-gradient(to right bottom, #af692d, #492b20);
  }
  /* line 188, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--back-2 {
    background-image: linear-gradient(to right bottom, #cec3cb, #190c13);
  }
  /* line 192, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--back-3 {
    background-image: linear-gradient(to right bottom, #414766, #191b27);
  }
  /* line 199, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  /* line 202, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  /* line 206, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    padding: 4rem;
  }
  /* line 214, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__price-box {
    margin-bottom: 3rem;
    text-align: center;
    color: #fff;
  }
  /* line 220, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__price-value {
    font-size: 3rem;
  }
  /* line 224, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__price-only {
    font-size: 1rem;
  }
  /* line 230, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__heading {
    position: sticky;
    text-align: right;
    transform: translateX(32%);
    right: 0;
  }
}

@media (max-width: 37.5em) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card {
    height: auto;
    flex-flow: column;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  }
  /* line 249, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_card.scss */
  .card__side--back {
    margin-top: -25%;
  }
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story {
  width: 90%;
  position: relative;
  font-size: 1.2rem;
  transform: skewX(-12deg) translateX(-50%);
  left: 50%;
  padding: 5rem 7rem;
  display: block;
  backface-visibility: hidden;
}

@media (max-width: 56.25em) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story {
    width: 88%;
    padding: 4rem;
    padding-left: 7rem;
  }
}

@media (max-width: 37.5em) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story {
    padding: 2.6rem;
    transform: skewX(0) translateX(-50%);
  }
}

/* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story-contain {
  width: 80%;
  margin: 0;
  height: auto;
  display: inline-block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 3rem 6rem rgba(13, 13, 13, 0.1);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  box-sizing: inherit;
  backface-visibility: hidden;
  text-align: left;
}

@media (max-width: 56.25em) {
  /* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story-contain {
    padding: 4rem;
    padding-left: 7rem;
  }
}

@media (max-width: 37.5em) {
  /* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story-contain {
    padding: 3rem 3rem 3rem 6rem;
  }
}

/* line 54, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  background-size: cover;
  transform: skewX(12deg) translate(-3rem);
  position: relative;
  backface-visibility: inherit;
  overflow: hidden;
  border-radius: 50%;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) or (-moz-clip-path: polygon(0 0)) {
  /* line 54, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story__shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    -moz-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -moz-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}

@media (max-width: 37.5em) {
  /* line 54, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }
}

/* line 87, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story__img {
  width: 100%;
  background-size: 100%;
  transform: scale(1.4);
  position: relative;
  backface-visibility: hidden;
  transition: all .5s;
}

/* line 97, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story__text {
  position: relative;
  transform: skewX(12deg);
  backface-visibility: hidden;
}

@media (max-width: 37.5em) {
  /* line 97, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
  .story__text {
    transform: skewX(0);
  }
}

/* line 110, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story__caption {
  transform: translate(-50%, 20%);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  transition: all .5s;
  backface-visibility: hidden;
}

/* line 124, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* line 129, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_story.scss */
.story:hover .story__img {
  filter: blur(3px) brightness(80%);
  transform: scale(1);
}

/* line 2, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__group {
  width: 100%;
}

/* line 5, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

/* line 11, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: inherit;
  width: 90%;
  display: block;
  transition: all .4s ease;
  border-bottom: 3px solid transparent;
}

@media (max-width: 56.25em) {
  /* line 11, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
  .form__input {
    width: 100%;
  }
}

/* line 32, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input::-webkit-input-placeholder {
  color: #999;
}

/* line 37, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #fb5ea3;
}

/* line 42, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input:focus:invalid {
  border-bottom: 3px solid red;
}

/* line 46, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input:focus:valid {
  border-bottom: 3px solid #45f9b0;
}

/* line 53, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .4s ease;
}

/* line 63, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

/* line 69, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__input:not(:placeholder-shown) + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* line 75, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__radio-group {
  width: 49%;
  display: inline-block;
}

@media (max-width: 56.25em) {
  /* line 75, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* line 86, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

/* line 93, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__radio-button {
  height: 3rem;
  display: inline-block;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #fb5ea3;
  top: -.7rem;
  left: 0;
}

/* line 103, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__radio-button::after {
  content: " ";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fb5ea3;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .2s;
}

/* line 120, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__radio-input {
  display: none;
}

/* line 124, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_form.scss */
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  background-size: cover;
}

/* line 11, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_bg-video.scss */
.bg-video__content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background-size: cover;
  position: relative;
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer {
  padding: 10rem 4rem;
  font-size: 1.4rem;
  background-color: #333;
  color: #f7f7f7;
  /*
    &__logo-box{


    }
  */
}

/* line 7, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__logo-box {
  text-align: center;
}

/* line 11, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__logo {
  width: 30rem;
  height: auto;
  transform: translateX(-10%);
}

/* line 19, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__list {
  list-style: none;
}

/* line 23, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__item {
  display: inline-block;
}

/* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

/* line 31, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__contain {
  width: 90%;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-between;
}

/* line 40, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__other, .footer__navigation {
  flex-basis: 43%;
  border-top: 1px solid #777;
  padding-top: 2rem;
}

@media (max-width: 37.5em) {
  /* line 40, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
  .footer__other, .footer__navigation {
    flex-basis: 100% !important;
    justify-content: center;
    text-align: center;
  }
}

/* line 56, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__navigation {
  line-height: 4rem;
}

@media (max-width: 37.5em) {
  /* line 56, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
  .footer__navigation {
    margin-bottom: 10%;
  }
}

/* line 72, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: inherit;
  transition: all .2s;
  background-color: #333;
}

/* line 85, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_footer.scss */
.footer__link:hover, .footer__link:active {
  color: #fb5ea3;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}

/* line 3, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox {
  display: none;
}

/* line 9, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  /* line 9, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media (max-width: 37.5em) {
  /* line 9, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

/* line 37, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__background {
  height: 6rem;
  width: 6rem;
  background-image: radial-gradient(#ffa8d3, #f9458e);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media (max-width: 56.25em) {
  /* line 37, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media (max-width: 37.5em) {
  /* line 37, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

/* line 63, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1500;
  opacity: 0;
}

/* line 78, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* line 89, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__item {
  margin: 1rem;
  list-style: none;
}

/* line 96, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__link:link, .navigation__link:visited {
  width: auto;
  visibility: hidden;
  position: relative;
  font-size: 3rem;
  font-weight: 200;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s;
  display: inline-block;
}

/* line 112, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
}

/* line 119, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem);
  color: #fb5ea3;
}

/* line 129, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

/* line 133, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

/* line 138, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox:checked ~ .navigation__nav .navigation__list .navigation__item .navigation__link {
  visibility: visible;
}

/* line 143, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

/* line 147, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  transition: all .2s;
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

/* line 158, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__icon::before, .navigation__icon::after {
  content: "";
  left: 0;
  position: absolute;
}

/* line 167, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__icon::after {
  top: .8rem;
}

/* line 168, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__icon::before {
  top: -.8rem;
}

/* line 175, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

/* line 179, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

/* line 185, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* line 191, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

/* line 192, ../../../Desktop/EM KhaY/pr files/advanced css/scss/__navigation.scss */
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

@supports (backdrop-filter: blur(20px)) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

/* line 26, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #fff;
  border-radius: 2px;
  padding: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: table;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all .5s .2s;
}

/* line 40, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__image {
  width: 33%;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
}

@media (max-width: 56.25em) {
  /* line 40, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
  .popup__image {
    width: 100%;
    display: table-row;
  }
}

/* line 58, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__text {
  width: 67%;
  backface-visibility: hidden;
  height: 100%;
  padding: 3rem 5rem;
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 56.25em) {
  /* line 58, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
  .popup__text {
    width: 100%;
    padding: 10rem;
    display: table-row;
  }
}

@media (max-width: 56.25em) {
  /* line 74, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
  .popup__text__contain {
    padding: 2rem 5rem;
  }
}

/* line 82, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__text__content {
  backface-visibility: hidden;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #999;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #999;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 75em) {
  /* line 82, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
  .popup__text__content {
    font-size: 1.3rem;
    margin-bottom: 3rem;
    column-gap: 3rem;
  }
}

/* line 109, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__img {
  margin: 0;
  width: 100%;
  display: block;
  background-size: cover;
  backface-visibility: hidden;
}

@media (max-width: 56.25em) {
  /* line 109, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
  .popup__img {
    width: 50%;
    display: inline-block;
  }
}

/* line 126, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup:target {
  opacity: 1;
  visibility: visible;
}

/* line 133, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* line 142, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  text-decoration: none;
  font-size: 3rem;
  display: inline-block;
  color: #777;
  transition: all .2s;
  line-height: 1;
}

/* line 155, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_popup.scss */
.popup__close:hover {
  color: #fb5ea3;
}

/* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20rem;
}

@media (max-width: 56.25em) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-about {
    margin-bottom: -7.5rem;
  }
}

@media (max-width: 37.5em) {
  /* line 1, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-about {
    margin-bottom: -15rem;
  }
}

/* line 18, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition {
  position: relative;
  height: auto;
  width: auto;
  display: block;
}

/* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  transition: all .4s;
  backface-visibility: hidden;
  outline-offset: 2rem;
}

@media (max-width: 56.25em) {
  /* line 24, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .composition__photo {
    position: relative;
    width: 32%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    justify-self: flex-start;
  }
}

/* line 41, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}

@media (max-width: 56.25em) {
  /* line 41, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}

/* line 53, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition__photo--p2 {
  top: 2rem;
  right: 0;
}

@media (max-width: 56.25em) {
  /* line 53, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .composition__photo--p2 {
    transform: scale(1.3);
    top: -1rem;
    z-index: 100;
  }
}

/* line 67, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition__photo--p3 {
  top: 10rem;
  left: 20%;
}

@media (max-width: 56.25em) {
  /* line 67, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .composition__photo--p3 {
    left: 0;
    top: 1rem;
    transform: scale(1.1);
  }
}

/* line 79, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
  z-index: 10;
  outline: 1.5rem solid #fb5ea3;
}

/* line 88, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* line 95, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-features {
  width: 100%;
  padding: 18rem 9rem;
  background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.6)), url(../Pictures/bg1.jpeg);
  background-size: cover;
  transform: skewY(-7deg);
  z-index: 16;
  margin-top: -25rem;
}

@media (max-width: 56.25em) {
  /* line 95, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-features {
    padding: 10rem 4rem;
    margin-top: 2rem;
    background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.6)), url(../Pictures/bg1-mobile-1x.jpg);
    background-size: cover;
    background-position: bottom;
  }
}

@media (max-width: 56.25em) and (min-resolution: 192dpi) and (min-width: 37.5rem), (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 2), (max-width: 56.25em) and (min-width: 125rem) {
  /* line 95, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-features {
    background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.6)), url(../Pictures/bg1-mobile.jpg);
  }
}

/* line 122, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-features__contain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 56.25em) {
  /* line 122, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-features__contain {
    flex-flow: column wrap;
    padding: 4rem;
  }
}

/* line 136, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-features > * {
  transform: skewY(7deg);
}

/* line 142, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  flex-basis: 22%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  /* line 142, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .feature-box {
    flex-basis: 100% !important;
    padding: 5rem;
    align-items: center;
    margin-bottom: 7%;
  }
}

/* line 161, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  background-image: linear-gradient(to right, #ffa8d3, #f9458e);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 56.25em) {
  /* line 161, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .feature-box__icon {
    margin-bottom: 0;
  }
}

/* line 175, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* line 181, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-styles {
  background-color: #f7f7f7;
  padding: 15rem 0 15rem 0;
  margin: -20rem 0 0 0 0;
  height: auto;
}

@media (max-width: 56.25em) {
  /* line 181, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-styles {
    padding: 10rem 0;
    margin: 0 0 -10rem 0;
  }
}

/* line 191, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-styles__contain {
  display: flex;
  padding: 0 10rem;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (max-width: 75em) {
  /* line 191, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-styles__contain {
    padding: 0 7rem;
  }
}

@media (max-width: 56.25em) {
  /* line 191, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-styles__contain {
    flex-flow: column;
    text-align: center;
    justify-content: space-around !important;
    align-content: space-around;
  }
}

@media (max-width: 37.5em) {
  /* line 191, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-styles__contain {
    padding: 0 7.5rem;
  }
}

/* line 219, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-stories {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
}

@media (max-width: 56.25em) {
  /* line 219, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-stories {
    padding: 10rem 0;
  }
}

/* line 230, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.section-order {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #ffa8d3, #f9458e);
}

@media (max-width: 56.25em) {
  /* line 230, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .section-order {
    padding: 10rem 0;
  }
}

/* line 241, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.order {
  background-size: cover;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 50%), url(../Pictures/pexels-photo-1488463-1x.jpg);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

@media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
  /* line 241, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .order {
    background-size: cover;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 50%), url(../Pictures/pexels-photo-1488463.jpeg);
  }
}

@media (max-width: 75em) {
  /* line 241, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .order {
    width: 100%;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../Pictures/pexels-photo-1488463.jpeg);
  }
}

@media (max-width: 56.25em) {
  /* line 241, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .order {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../Pictures/pexels-photo-1488463.jpeg);
  }
}

/* line 282, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
.order__form {
  width: 50%;
  padding: 6rem;
}

@media (max-width: 75em) {
  /* line 282, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .order__form {
    width: 65%;
  }
}

@media (max-width: 56.25em) {
  /* line 282, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_home.scss */
  .order__form {
    width: 100%;
  }
}

/*
    
light  #ffa8d3
medium  #fb5ea3
deep  #f9458e
*/
/* line 8, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* line 16, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
html {
  font-size: 62.5%;
}

@media (min-width: 112.5em) {
  /* line 16, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
  html {
    font-size: 75%;
  }
}

@media (max-width: 75em) {
  /* line 16, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  /* line 16, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
  html {
    font-size: 50%;
  }
}

/* line 36, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
body {
  font-family: Latoweb;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1.5%;
  max-width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 56.25em) {
  /* line 36, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
  body {
    padding: 0 !important;
  }
}

/* line 57, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
.header {
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.4)), url(../Pictures/cover-1x.jpg);
  position: relative;
  background-size: cover;
  background-position: 0 25%;
  background-repeat: no-repeat;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) or (-moz-clip-path: polygon(0 0)) {
  /* line 57, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
  .header {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
}

@media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
  /* line 57, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
  .header {
    background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.4)), url(../Pictures/cover.jpeg);
    background-size: cover;
  }
}

/* line 102, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
.header__logo-box {
  position: absolute;
  top: 0rem;
  left: -2rem;
  width: auto;
}

/* line 109, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
.header__logo {
  height: 17rem;
  width: 17rem;
}

/* line 116, ../../../Desktop/EM KhaY/pr files/advanced css/scss/_style.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=main.css.map */