@font-face {
    font-family: "Latoweb";
    src: local(Latoweb), url(../lato/fonts/Lato-Regular.woff)format("WOFF");
}
.grid {
  display: flex;
  flex-flow: row wrap;
  padding: 3rem;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .grid {
      justify-content: center;
      flex-flow: column wrap !important; } }
  .grid-text {
    flex-basis: 40%;
    height: auto;
    position: relative;
    height: auto; }
    .grid-text a {
      margin-bottom: 5%; }
    @media (max-width: 56.25em) {
      .grid-text {
        flex-basis: 100% !important;
        padding: 1rem 4rem; } }
  .grid-img {
    margin-right: 5%;
    position: relative;
    height: 50rem;
    flex-basis: 40%; }
    @media (max-width: 56.25em) {
      .grid-img {
        flex-basis: 100% !important;
        flex-grow: 1.5;
        justify-self: center;
        padding: 2rem 4rem 2rem 6rem;
        margin-right: 0 !important; } }

.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading .heading-pri--main {
    display: block;
    letter-spacing: 1.75rem;
    font-weight: 700;
    font-size: 6rem;
    animation: moveInRight 1.5s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading .heading-pri--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading .heading-pri--sub {
    display: block;
    backface-visibility: hidden;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: .77rem;
    animation: moveInLeft 1.5s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading .heading-pri--sub {
        letter-spacing: .5rem; } }

.heading-sec {
  font-size: 3.5rem;
  font-weight: 650;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffa8d3, #f9458e);
  display: inline-block;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-sec {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-sec {
      font-size: 2.5rem; } }
  .heading-sec:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(5, 5, 5, 0.3); }

.heading-ter {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-bottom: 1rem; }

.paragraph {
  font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem  !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem  !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem  !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 3rem !important; } }

.u-margin-top-big {
  margin-top: 8rem  !important; }

.u-margin-top-huge {
  margin-top: 10rem  !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 10rem  !important; }

.u-contain {
  max-width: 98rem;
  background-size: cover;
  background-color: transparent;
  margin: 0 auto;
  backface-visibility: hidden; }
  @media (max-width: 75em) {
    .u-contain {
      width: 100%;
      max-width: 100%; } }
  @media (max-width: 56.25em) {
    .u-contain {
      width: 80%;
      max-width: 80%; } }

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  transition: all .2s;
  backface-visibility: hidden;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }

.btn:focus,
.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--pink {
  background-color: #fb5ea3;
  color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  transition: all .4s;
  backface-visibility: hidden; }

.btn--white::after {
  background-color: #fff; }

.btn--pink::after {
  background-color: #fb5ea3; }

.btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInUp .5s ease-out .75s backwards; }

.btn-text:link, .btn-text:visited {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #fb5ea3;
  text-decoration: none;
  transition: all .2s;
  display: inline-block;
  padding: 1rem;
  border-bottom: 0.1rem solid #fb5ea3; }
.btn-text:hover {
  background-color: #fb5ea3;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem); }
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0rem); }

.card {
  flex-basis: 30%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    backface-visibility: hidden; }
    .card__side--front {
      z-index: 15; }
      .card__side--front-1 {
        background-image: url(../Pictures/gc-1x.jpg);
        background-size: cover; }
        @media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
          .card__side--front-1 {
            background-image: url(../Pictures/gc.jpeg); } }
      .card__side--front-2 {
        background-image: url(../Pictures/bcas-1x.jpg);
        background-size: cover; }
        @media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
          .card__side--front-2 {
            background-image: url(../Pictures/bcas.jpeg); } }
      .card__side--front-3 {
        background-image: url(../Pictures/gcas-1x.jpg);
        background-size: cover; }
        @media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
          .card__side--front-3 {
            background-image: url(../Pictures/gcas.jpeg); } }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #af692d, #492b20); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #cec3cb, #190c13); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #414766, #191b27); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(175, 105, 45, 0.85), rgba(73, 43, 32, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(206, 195, 203, 0.85), rgba(25, 12, 19, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(65, 71, 102, 0.85), rgba(25, 27, 39, 0.85)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-transform: uppercase;
    margin-bottom: 8rem;
    text-align: center;
    color: #fff; }
  .card__price-value {
    font-weight: 100;
    font-size: 6rem; }
  .card__price-only {
    font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      max-width: 60rem;
      flex-basis: 100%;
      flex-flow: column;
      justify-self: center;
      transform: translateX(-50%);
      left: 50%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
      .card:not(:last-child) {
        margin-bottom: 10%; }
      .card__side {
        height: 50rem;
        position: relative;
        border-radius: .3rem; }
        .card__side--back {
          transform: rotateY(0);
          min-height: 30rem;
          height: auto;
          padding: 4rem 4rem 1rem 4rem;
          margin-top: -15%;
          z-index: 1000;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
          .card__side--back-1 {
            background-image: linear-gradient(to right bottom, #af692d, #492b20); }
          .card__side--back-2 {
            background-image: linear-gradient(to right bottom, #cec3cb, #190c13); }
          .card__side--back-3 {
            background-image: linear-gradient(to right bottom, #414766, #191b27); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        padding: 4rem; }
      .card__price-box {
        margin-bottom: 3rem;
        text-align: center;
        color: #fff; }
      .card__price-value {
        font-size: 3rem; }
      .card__price-only {
        font-size: 1rem; }
      .card__heading {
        position: sticky;
        text-align: right;
        transform: translateX(32%);
        right: 0; } }
  @media (max-width: 37.5em) {
    .card {
      flex-flow: column;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
      .card__side--back {
        margin-top: -25%; } }

.story {
  width: 90%;
  position: relative;
  font-size: 1.2rem;
  transform: skewX(-12deg) translateX(-50%);
  left: 50%;
  padding: 5rem 7rem;
  display: block;
  backface-visibility: hidden; }
  @media (max-width: 56.25em) {
    .story {
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      width: 100%;
      padding: 1em;
      transform: skewX(0) translateX(-50%); } }
  .story-contain {
    width: 80%;
    margin: 0;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 3rem 6rem rgba(13, 13, 13, 0.1);
    border-radius: 3px;
    padding: 6rem 6rem 6rem 9rem;
    box-sizing: inherit;
    backface-visibility: hidden;
    text-align: left; }
    @media (max-width: 56.25em) {
      .story-contain {
        padding: 4rem;
        padding-left: 7rem; } }
    @media (max-width: 37.5em) {
      .story-contain {
        padding: 4rem; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-size: cover;
    transform: skewX(12deg) translate(-3rem);
    position: relative;
    backface-visibility: inherit;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) or (-moz-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        -moz-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        -moz-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media (max-width: 37.5em) {
      .story__shape {
        width: 10rem;
        height: 10rem;
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    width: 100%;
    background-size: 100%;
    transform: scale(1.4);
    position: relative;
    backface-visibility: hidden;
    transition: all .5s; }
    @media (max-width: 37.5em) {
      .story__img {
        transform: scale(1); } }
  .story__text {
    position: relative;
    transform: skewX(12deg);
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    transform: translate(-50%, 20%);
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%);
    transform: scale(1); }

.form__group {
  width: 100%; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  font-family: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: inherit;
  width: 90%;
  display: block;
  transition: all .4s ease;
  border-bottom: 3px solid transparent; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #fb5ea3; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
    .form__input:focus:valid {
      border-bottom: 3px solid #45f9b0; }
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .4s ease; }
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }
.form__input:not(:placeholder-shown) + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); }
.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }
.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }
.form__radio-button {
  height: 3rem;
  display: inline-block;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #fb5ea3;
  top: -.7rem;
  left: 0; }
  .form__radio-button::after {
    content: " ";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fb5ea3;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s; }
.form__radio-input {
  display: none; }
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  background-size: cover; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    background-size: cover;
    position: relative; }

.footer {
  padding: 10rem 4rem;
  font-size: 1.4rem;
  background-color: #333;
  color: #f7f7f7;
  /*
      &__logo-box{
  
  
      }
    */ }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 30rem;
    height: auto;
    transform: translateX(-10%); }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__contain {
    width: 90%;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-between; }
  .footer__other, .footer__navigation {
    flex-basis: 43%;
    border-top: 1px solid #777;
    padding-top: 2rem; }
    @media (max-width: 37.5em) {
      .footer__other, .footer__navigation {
        flex-basis: 100% !important;
        justify-content: center;
        text-align: center; } }
  .footer__navigation {
    line-height: 4rem; }
    @media (max-width: 37.5em) {
      .footer__navigation {
        margin-bottom: 10%; } }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: inherit;
    transition: all .2s;
    background-color: #333; }
  .footer__link:hover, .footer__link:active {
    color: #fb5ea3;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.navigation__checkbox {
  display: none; }
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 2000;
  cursor: pointer;
  text-align: center;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
.navigation__background {
  height: 6rem;
  width: 6rem;
  background-image: radial-gradient(#ffa8d3, #f9458e);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1500;
  opacity: 0; }
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; }
.navigation__item {
  margin: 1rem;
  list-style: none; }
.navigation__link:link, .navigation__link:visited {
  width: auto;
  visibility: hidden;
  position: relative;
  font-size: 3rem;
  font-weight: 200;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s;
  display: inline-block; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem);
  color: #fb5ea3; }
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }
.navigation__checkbox:checked ~ .navigation__nav .navigation__list .navigation__item .navigation__link {
  visibility: visible; }
.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    transition: all .2s;
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    left: 0;
    position: absolute; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
.navigation__button:hover .navigation__icon::before {
  top: -1rem; }
.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease; }
  @supports (backdrop-filter: blur(20px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.4); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
    border-radius: 2px;
    padding: 0;
    overflow: hidden;
    backface-visibility: hidden;
    display: table;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__image {
    width: 33%;
    margin: 0;
    vertical-align: middle;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .popup__image {
        width: 100%;
        display: table-row; } }
  .popup__text {
    width: 67%;
    backface-visibility: hidden;
    height: 100%;
    padding: 3rem 5rem;
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 56.25em) {
      .popup__text {
        width: 100%;
        padding: 10rem;
        display: table-row; } }
    @media (max-width: 56.25em) {
      .popup__text__contain {
        padding: 2rem 5rem; } }
    .popup__text__content {
      backface-visibility: hidden;
      font-size: 1.4rem;
      margin-bottom: 4rem;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #999;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid #999;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto; }
      @media (max-width: 75em) {
        .popup__text__content {
          font-size: 1.3rem;
          margin-bottom: 3rem;
          column-gap: 3rem; } }
  .popup__img {
    margin: 0;
    width: 100%;
    display: block;
    background-size: cover;
    backface-visibility: hidden; }
    @media (max-width: 56.25em) {
      .popup__img {
        width: 50%;
        display: inline-block; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    color: #777;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #fb5ea3; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20rem; }
  @media (max-width: 56.25em) {
    .section-about {
      margin-bottom: -7.5rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      margin-bottom: -15rem; } }

.composition {
  position: relative;
  height: auto;
  width: auto;
  display: block; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    transition: all .4s;
    backface-visibility: hidden;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        width: 32%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
        justify-self: flex-start; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          transform: scale(1.3);
          top: -1rem;
          z-index: 100; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 0;
          top: 1rem;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 10;
      outline: 1.5rem solid #fb5ea3; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 1; }

.section-features {
  width: 100%;
  padding: 18rem 9rem;
  background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.6)), url(../Pictures/bg1.jpeg);
  background-size: cover;
  transform: skewY(-7deg);
  z-index: 16;
  margin-top: -25rem; }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 4rem;
      margin: 2rem 0 -2rem 0;
      background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.6)), url(../Pictures/bg1-mobile-1x.jpg);
      background-size: cover;
      background-position: bottom; } }
  @media (max-width: 56.25em) and (min-resolution: 192dpi) and (min-width: 37.5rem), (max-width: 56.25em) and (-webkit-min-device-pixel-ratio: 2), (max-width: 56.25em) and (min-width: 125rem) {
    .section-features {
      background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.6)), url(../Pictures/bg1-mobile.jpg); } }

  .section-features__contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center; }
    @media (max-width: 56.25em) {
      .section-features__contain {
        flex-flow: column wrap;
        padding: 4rem; } }
  .section-features > * {
    transform: skewY(7deg); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  flex-basis: 22%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .feature-box {
      flex-basis: 100% !important;
      flex-grow: 1;
      padding: 5rem;
      align-items: center;
      margin-bottom: 7%; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #ffa8d3, #f9458e);
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.section-styles {
  background-color: #f7f7f7;
  padding: 15rem 0 15rem 0;
  margin: -20rem 0 0 0 0;
  height: auto; }
  @media (max-width: 56.25em) {
    .section-styles {
      padding: 10rem 0;
      margin: 0 0 -10rem 0; } }
  .section-styles__contain {
    display: flex;
    padding: 0 10rem;
    flex-flow: row wrap;
    justify-content: space-between; }
    @media (max-width: 75em) {
      .section-styles__contain {
        padding: 0 7rem; } }
    @media (max-width: 56.25em) {
      .section-styles__contain {
        flex-flow: column;
        text-align: center;
        justify-content: center;
        align-content: space-around; } }
    @media (max-width: 37.5em) {
      .section-styles__contain {
        padding: 0 4rem; } }

.section-stories {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-order {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #ffa8d3, #f9458e); }
  @media (max-width: 56.25em) {
    .section-order {
      padding: 10rem 0; } }

.order {
  background-size: cover;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 50%), url(../Pictures/pexels-photo-1488463-1x.jpg);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (min-resolution: 192dpi) and (min-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
    .order {
      background-size: cover;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0) 50%), url(../Pictures/pexels-photo-1488463.jpeg); } }
  @media (max-width: 75em) {
    .order {
      width: 100%;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../Pictures/pexels-photo-1488463.jpeg); } }
  @media (max-width: 56.25em) {
    .order {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../Pictures/pexels-photo-1488463.jpeg); } }
  .order__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .order__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .order__form {
        width: 100%; } }

/*
    
light  #ffa8d3
medium  #fb5ea3
deep  #f9458e
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Latoweb";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 1.5%;
  max-width: 100vw;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0 !important; } }

.header {
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.4)), url(../Pictures/cover-1x.jpg);
  position: relative;
  background-size: cover;
  background-position: 0 25%;
  background-repeat: no-repeat; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) or (-moz-clip-path: polygon(0 0)) {
    .header {
      height: 95vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      -moz-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  @media (min-resolution: 192dpi) and (max-width: 37.5rem), (-webkit-min-device-pixel-ratio: 2), (min-width: 125rem) {
    .header {
      background-image: linear-gradient(to left bottom, rgba(255, 168, 212, 0.3), rgba(249, 69, 141, 0.4)), url(../Pictures/cover.jpeg);
      background-size: cover; } }
  @media (max-width: 37.5em) {
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) or (-moz-clip-path: polygon(0 0)) {
      .header {
        height: 95vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%); } } }

.header__logo-box {
  position: absolute;
  top: 0rem;
  left: -2rem;
  width: auto; }

.header__logo {
  height: 17rem;
  width: 17rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
